    #Pagina {
        background-color: grey;
    }

        body {
            background-color: grey;
            text-aling: center;
        }
        header {
            text-align: center;
        }
   h1 {
    color: yellow;
    
}
