        #Pagina {
            background-color: grey;
        }

        body {
            background-color: grey;
            text-align: center;
        }

        header {
            text-align: center;
        }
        h1 {
            font-family: 'Lobster', cursive;
            font-size: 48px;
            color: #D32F2F; /* Rojo pizza */
        }

