

body {
    background-image: url('fondopizza.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambiado de height a min-height */
    padding: 10px; /* Evita que el contenido toque los bordes */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

/* Ajuste para el título en móviles */
h1 {
    font-family: 'Lobster', cursive;
    font-size: 9vw; /* Ajuste dinámico según el tamaño de pantalla */
    color: #F5F5DC;
    text-align: center;
}

/* Optimización del tamaño del logo */
#logo {
    display: block;
    margin: 0 auto;
    max-width: 80%; /* Reduce el ancho dinámicamente */
    height: auto; /* Mantiene proporción sin distorsión */
}


/* Ajuste de navegación */
ul {
    color: #F5F5DC;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 4vw; /* Ajuste dinámico */
}
ul a {
color: #F5F5DC;
}

/* Para mejorar visibilidad del footer */
footer {
    color: #F5F5DC;
    text-align: center;
    padding: 10px;
}

